[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group oooq-core
	owner = group user/Harry Rybacki (HarryRybacki)
[access "refs/for/refs/*"]
	read = group oooq-core
	read = group user/Harry Rybacki (HarryRybacki)
	push = group oooq-core
	push = group user/Harry Rybacki (HarryRybacki)
	label-Code-Review = -2..+2 group oooq-core
	label-Code-Review = -2..+2 group user/Harry Rybacki (HarryRybacki)
	label-Verified = -1..+1 group oooq-core
	label-Verified = -1..+1 group user/Harry Rybacki (HarryRybacki)
	rebase = group oooq-core
	rebase = group user/Harry Rybacki (HarryRybacki)
	removeReviewer = group oooq-core
	removeReviewer = group user/Harry Rybacki (HarryRybacki)
	submit = group oooq-core
	submit = group user/Harry Rybacki (HarryRybacki)
[access "refs/heads/*"]
	read = group oooq-core
	read = group user/Harry Rybacki (HarryRybacki)
	create = group oooq-core
	create = group user/Harry Rybacki (HarryRybacki)
	push = group oooq-core
	push = +force group user/Harry Rybacki (HarryRybacki)
	pushMerge = group oooq-core
	pushMerge = group user/Harry Rybacki (HarryRybacki)
[access "refs/tags/*"]
	push = group oooq-core
	push = +force group user/Harry Rybacki (HarryRybacki)
	pushTag = group oooq-core
	pushTag = group user/Harry Rybacki (HarryRybacki)
	pushSignedTag = group oooq-core
	pushSignedTag = group user/Harry Rybacki (HarryRybacki)
[project]
	description = An Ansible role for configuring and executing Tempest from and against an Undercloud
