#!/bin/bash
# Validate the overcloud deployment

set -eux

{% if arttu_configure_tempest|bool %}
{% include 'configure-tempest.j2' %}
{% endif %}

tools/run-tests.sh --skip-file {{ arttu_working_dir }}/skipfile {{ arttu_test_regex }}